          html body {
          margin: 0;
          padding: 0;
          height: 100%;
          width: 100%;
          opacity: 0.9;
        }

        #page1 {
          height: 100%;
          /*backgroung img goes here*/
          background-image: url(../img/prepmain.jpeg);
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }

        h1 {
          border-style: solid red 2px;
          font-size: 100px;
          font-family: Oswald, serif;
          color: white;
          text-align: center;
          padding: 200px;
          vertical-align: middle;
          font-weight: 400;
        }

        #page2 {
          height: 100%;
          background-image: url(../img/counter.jpg);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: 1px 10px;
          padding-left: 10px;
          padding-bottom: 300px;
          padding-top: 100px;
          margin-bottom: 100px;
        }


      /************

      Price box
      *************/

  h2{
    font-family: "Tahoma", sans-serif;
    background: #333;
    color: #fff;
    text-align: center;
  }

  .col{
    float: left;
    width: 33.3%;
    padding:8px;
    box-sizing: border-box;
  }

  .price-box{
    background: #fff;
    color: #555;
    list-style-type: none;
    border: 1px solid #555;
    margin:0;
    padding:0;
  }

  .price-box:hover,.price-box.best{
    box-shadow: 0 10px 15px 0 #000;
  }

  .price-box .header{
    background-color: #111;
    color: #fff;
    font-size: 25px;
  }

  .price-box li{
    padding: 20px;
    border-bottom: 1px solid #eee;
    text-align: center;
  }

  .price-box .emph{
    background-color: #f4f4f4;
    font-size: 20px;
  }

  .button{
    background-color: #4caf50;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }


        #page3 {
          height: 100%;
          padding-top: 100px;
          background-color: #fff;
        }

        #nav {
          width: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          text-align: center;
          position: fixed;
          top: 0px;
          z-index: 9990;
          float: left;
          padding: 16px 0;
          border-bottom: solid 2px black;
          text-decoration: none;
        }

        * html #nav {
          position: absolute;
        }

        #nav ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }

        #nav ul li {
          display: inline;
          padding: 0 40px 0 0;
        }

        #nav ul li.last {
          padding: 0 0px 0 0;
          list-style: none;
        }

        #nav ul li a {
          text-transform: uppercase;
          color: black;
          font-size: 1.8em;
          list-style: none;
        }

        .intro {
          height: 100%;
          width: 100%;
          margin: auto;
          display: table;
          top: 0;
          background-size: cover;
        }

        .intro .inner {
          display: table-cell;
          vertical-align: middle;
          width: 100%;
          max-width: none;
        }

        .content {
          max-width: 500px;
          margin: 0 auto;
          text-align: center;
        }

        .content h1 {
          color: #000;
          font-size: 550%;
          text-transform: uppercase;
          font-family: Oswald;
        }

        .about {
          text-align: center;
          padding: 100px;
          padding-bottom: 1000px;
          font-size: 50px;
        }

        .about-text {
          font-family: Oswald;
          font-size: 22px;
          text-indent: 30px;
        }



        .btn {
          border-radius: 10px;
          color: #fff;
          font-size: 145%;
          padding: 10px 20px;
          border: solid #fff 4px;
          text-transform: uppercase;
          text-decoration: none;
        }

        .btn-about {
          border-radius: 10px;
          color: #000;
          font-size: 145%;
          padding: 10px 20px;
          border: solid #fff 4px;
          text-transform: uppercase;
          text-decoration: none;
        }

        .btn .btn-about :hover {
          color: #fff;
          border: solid #fff 3px;
        }

        #form {
          background: #d3d3d3;
          background-size: 100% 100%;
          font-family: Oswald, sans-serif;
          color: #FDFCFB;
          text-align: center;
        }


        /* social links*/
